

.history {
  margin: 20px;
}

.card-body {
  background-color: #f5f5f5;
  padding: 0;
}

.btni {
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
  
}

.col-12 {
  margin-inline-end: 0cm;
}

.btn btn-light {
  background-color: #f5f5f5;
  color: #4d4d4d;
  border-color: #f5f5f5;

}
.small{
    margin-right: px;
}
.d-flex {
  margin-top: 10px;
}

.font-weight-bold {
  margin-left: 5px;
}

.fa {
  margin-right: 5px;
}
.font-weight-bold {
  font-weight: bold;
}

.text-classic-blue {
  color: #007bff;
}

.list-group-item {
  background-color: #fff;
  padding: 12px 0;
}

.list-group-item:hover {
  background-color: #f5f5f5;}

.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item .small {
  font-size: 12px;
}

.list-group-item .fa {
  margin-right: 10px;
}
.card {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
}

.list-group-flush {
  margin-top: 10px;
}

.list-group-item {
  justify-content: center;
}

@media (max-width: 576px) {
  .card {
    margin: 20px;
  }
}

.btn btn-danger btn-sm {
    margin-right: 10px;
}